<script setup lang="ts">
import { reactive, ref } from 'vue'
import { login } from '../api/login';
import { useRouter } from "vue-router";
import { ElMessage, FormInstance, FormRules } from 'element-plus';
import { ApiResponse, User } from '../api/data';
const router = useRouter();
const ruleFormRef = ref<FormInstance>()
// const labelPosition = ref('right')

const ruleForm = reactive({
    username: '',
    password: '',
})

const validatePass = (rule: any, value: any, callback: any) => {
    // console.log(value);

    if (value === '') {
        callback(new Error('请输入密码'))
    } else if (value.length < 6 || value.length > 16) {
        callback(new Error("密码长度应在6~16位字符"))
    } else {
        callback()
    }
}
const rules = reactive<FormRules>({
    username: [
        { required: true, message: '请输入用户名', trigger: 'blur' },
    ],
    password: [{ required: true, validator: validatePass, trigger: 'blur' }],
})
function signUp(event: any) {
    router.push('/signUp')
}
async function onSubmit() {
    let res = await login<ApiResponse<User>>(ruleForm);
    console.log(res);

    if (res.data.code === 200) {
        ElMessage({
            message: res.data.msg,
            type: 'success',
        })
    } else {
        ElMessage.error(res.data.msg)
    }
    localStorage.setItem("token", JSON.stringify(res.data.data));
    router.push("/user")
}
</script>

<template>
    <div style="margin: 20px" />
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="200px" class="demo-ruleForm" status-icon>
        <el-form-item label="用户名" prop="username">
            <el-input v-model="ruleForm.username" placeholder="请输入用户名" />
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" autocomplete="off" />
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">登录</el-button>
            <el-button type="success" @click="signUp">注册</el-button>
        </el-form-item>
    </el-form>
</template>

<style scoped>
</style>
