<script setup lang="ts">
import { reactive, ref } from 'vue'
import type { FormInstance, FormRules } from 'element-plus'
import { ElMessage } from 'element-plus'
import { register } from '../api/login';
import { useRouter } from "vue-router";
import { ApiResponse, User } from '../api/data';
const router = useRouter();
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive({
    username: '',
    name: '',
    number: '',
    pass: '',
    checkPass: '',
})

const validatePass = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('请输入密码'))
    } else if (value.length < 6 || value.length > 16) {
        callback(new Error("密码长度应在6~16位字符"))
    } else {
        if (ruleForm.checkPass !== '') {
            if (!ruleFormRef.value) return
            ruleFormRef.value.validateField('checkPass', () => null)
        }
        callback()
    }
}
const validatePass2 = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('请再次输入密码'))
    } else if (value !== ruleForm.pass) {
        callback(new Error("两次密码不一致"))
    } else if (value.length < 6 || value.length > 16) {
        callback(new Error("密码长度应在6~16位字符"))
    } else {
        callback()
    }
}
const rules = reactive<FormRules>({
    username: [
        { required: true, message: '请输入用户名', trigger: 'blur' },
    ],
    name: [
        { required: true, message: '请输入昵称', trigger: 'blur' },
    ],
    number: [
        { required: true, message: '请输入学号', trigger: 'blur' },
    ],
    pass: [{ required: true, validator: validatePass, trigger: 'blur' }],
    checkPass: [{ required: true, validator: validatePass2, trigger: 'blur' }],
})
const submitForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.validate(async (valid: any) => {
        if (valid) {
            console.log('submit!')
            const result = reactive({
                username: ruleForm.username,
                name: ruleForm.name,
                number: ruleForm.number,
                password: ruleForm.pass,
            })
            console.log(result);
            let res = await register<ApiResponse<User>>(result)
            if (res) {
                ElMessage({
                    message: res.data.msg,
                    type: 'success',
                })
                router.push("/signIn")
                return true
            }
        } else {
            ElMessage.error("数据不完整")
            console.log('error submit!')
            return false
        }
    })
}

const resetForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.resetFields()
}
</script>

<template>
    <h1>用户注册</h1>
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="200px" class="demo-ruleForm" status-icon>
        <el-form-item label="用户名" prop="username">
            <el-input v-model="ruleForm.username" />
        </el-form-item>
        <el-form-item label="昵称" prop="name">
            <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="学号" prop="number">
            <el-input v-model="ruleForm.number" />
        </el-form-item>
        <el-form-item label="密码" prop="pass">
            <el-input v-model="ruleForm.pass" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item label="再次输入密码" prop="checkPass">
            <el-input v-model="ruleForm.checkPass" type="password" autocomplete="off" />
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm(ruleFormRef)">注册</el-button>
            <el-button @click="resetForm(ruleFormRef)">重置</el-button>
        </el-form-item>

    </el-form>
</template>

<style scoped>
</style>
