<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from "vue-router";
import { User as u1 } from '../api/data';
import {
    Iphone,
    Tickets,
    User,
} from '@element-plus/icons-vue'
const router = useRouter();

const size = ref('60px');

const iconStyle = ref('10px')


let token = localStorage.getItem("token");
let data: u1;
try {
    if (token == null || token == '') {
        router.push('/')
    } else {
        data = ref(JSON.parse(token))
    }
} catch (error) {
    router.push('/')
}
// console.log(data.value.data);

function logUot() {
    localStorage.removeItem('token');
    router.push('/')
}
</script>

<template>
    <el-descriptions class="margin-top" title="User" :column="3" :size="size" border>
        <template #extra>
            <el-button type="primary" @click="logUot">登出</el-button>
        </template>
        <el-descriptions-item>
            <template #label>
                <div class="cell-item">
                    <el-icon :style="iconStyle">
                        <user />
                    </el-icon>
                    用户名
                </div>
            </template>
            {{ data.username }}
        </el-descriptions-item>
        <el-descriptions-item>
            <template #label>
                <div class="cell-item">
                    <el-icon :style="iconStyle">
                        <iphone />
                    </el-icon>
                    学号
                </div>
            </template>
            {{ data.number }}
        </el-descriptions-item>

        <el-descriptions-item>
            <template #label>
                <div class="cell-item">
                    <el-icon :style="iconStyle">
                        <tickets />
                    </el-icon>
                    昵称
                </div>
            </template>
            {{ data.name }}
        </el-descriptions-item>
    </el-descriptions>
</template>

<style scoped>
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.box-card {
    width: 480px;
}

.el-descriptions {
    margin-top: 20px;
}

.cell-item {
    display: flex;
    align-items: center;
}

.margin-top {
    margin-top: 20px;
}
</style>
